*{
  font-family:"Garamond";
}

.singleInternship {
  margin-top:10px;
  margin-left:30%;
  margin-right:30%;
  padding:1rem;
  display:inline-flex;
  flex-direction:column;
  align-items:left;
  text-align: left;
  position:relative;
  border:solid 1px black;
  border-radius: 10px;
}

.internship {
    position:relative;
    border:solid 1px black;
    border-radius: 5px;
  }

.leftTitle {
  float:left;
  margin-left: 1rem;
  margin-right:5rem;
}

.rightTitle {
  float:right;
  margin-right: 1rem;
}